.actor-container{
    background-color: rgba(235, 217, 217, 0.3);
    padding: 30px;
    text-align: center;
    border-radius: 5px;
}

.actor-container img{
    width: 100%;
    object-fit: cover;
    height: 200px;
    border-radius: 10px;
}